/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@font-face {
    font-family: 'heading-font';
    src: url('../fonts/Fontspring-DEMO-allroundgothic-book.otf') format('opentype');

    font-family: 'apple-font';
    src: url('../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF');

    /* font-family: 'apple-font-bold';
    src:url('../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF') */

}

@font-face {
    font-family: 'apple-font-bold';
    src: url('../fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF')
}

* {
    /* cursor: none; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'apple-font';
    /* font-family: 'heading-font'; */
}




:root {
    --white-col: #ffff;
    --black-col: #000000;
    --hash-col: #86868b;
}

/* NAVBAR */

.logo {
    max-width: 100px;
}

nav {
    color: var(--white-col);
    background-color: var(--black-col);
}

nav .navbar-brand {
    color: var(--white-col);
}

.toggle {
    max-width: 30px;

}

.toggle-colse {
    max-width: 18px;

}

.primary-btn {
    background-color: var(--white-col);
    color: var(--black-col);
}

.primary-btn:hover {
    border: 1px solid var(--white-col);
    color: var(--white-col);
}

.heading-box {
    padding: 20px 0 60px 0;
}


.offcanvas.offcanvas-end {
    width: 100%;
    background-color: var(--black-col);
}

.offcanvas-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}



.nav-close-btn {
    border: none;
    background-color: transparent;
    /* padding: 30px 59px; */
}

.offcanvas-body .nav-link.active {
    color: var(--white-col);
}

.offcanvas-body .nav-link {
    color: #7e7e7e;
    font-size: 50px;
}



.offcanvas-header {
    justify-content: end !important;
}



.offcanvas-body ul:hover li a {
    color: #0002;
}

.offcanvas-body ul li:hover a {
    color: var(--white-col);
}

.offcanvas-body ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

.offcanvas-body ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 5000px;
    height: 5000px;
}

.offcanvas-body ul li:nth-child(6n+1) a:before {
    background: #81ecec;
}

.offcanvas-body ul li:nth-child(6n+2) a:before {
    background: #ff7675;
}

.offcanvas-body ul li:nth-child(6n+3) a:before {
    background: #55efc4;
}

.offcanvas-body ul li:nth-child(6n+4) a:before {
    background: #a29bfe;
}

.offcanvas-body ul li:nth-child(6n+5) a:before {
    background: #fd79a8;
}

.offcanvas-body ul li:nth-child(6n+6) a:before {
    background: #ffeaa7;
}

/* MOUSE POINTER */

.cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid rgb(255, 255, 255);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 1111111;
}

.cursor2 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(132, 132, 132);
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 1111111;
}

.hover {
    background-color: red;
    opacity: 0.5;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
}

/* BANNER */

section {
    overflow: hidden;
}

.main-banner {
    height: 100vh;
    background-color: var(--black-col);

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner h1 {
    color: var(--white-col);
    font-family: 'heading-font';
}


/* TEXT ONLY */

.text-olny-section {
    height: 100vh;
    background-color: var(--black-col);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-olny-section h2 {
    width: 70%;
    margin: auto;
    color: var(--hash-col);

    font-family: 'apple-font-bold';
    font-size: 50px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.text-olny-section h2 .char {
    font-family: 'apple-font';
    font-size: 70px;
}

.text-olny-section h2 span {
    color: var(--white-col);
    font-family: 'apple-font-bold';
    font-size: 50px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
}


/*  WORK SECTION */

.work-section {
    height: 100vh;
    background-color: #101010;

    display: flex;
    justify-content: center;
    align-items: center;
}


.work-section  .swiper-wrapper{
    display: flex;
    align-items: center;
  }


.work-section .work-card-box {
    background-color: gold;
}


.work-section .swiper {
    width: 100%;
    height: 100%;
}

.work-section .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.work-section .swiper-slide .img-box{
    height: 100%;
    width: 100%;
}

.work-section .swiper-slide .img-box img {
    height: 50vh;
    width: 100%;
    border-radius: 25px;
    transition: height 0.3s ease;
    object-fit: cover;


}

.work-section .swiper-slide-active .img-box img{
    height: 55vh;
    border-radius: 25px;

}


.work-section .swiper-slide:nth-child(2n) {
    width: 40%;
}


.work-section .heading-swiper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-section .heading-swiper h6{
    font-size: 22px;
    
    margin: 0;
}

.work-section .heading-swiper h6 a{
    text-decoration: none;
    color: #fff;
}

.work-section .heading-swiper i{
    font-size: 23px;
    color: #fff;
}



/* VIDEO CARDS */

.video-cards-section {
    background-color: #000000;
    padding: 0 60px;
}

.video-cards-section .card {
    border: none;
    border-radius: 0;
}



.video-cards-section .card {
    position: relative;
    /* width: 350px; */
    background: radial-gradient(#111 50%, #000 100%);
    overflow: hidden;
    cursor: pointer;
    padding: 30px;
    border: 0.1px solid #e5e5e51f;
}

.video-cards-section .card-img-top {
    max-width: 100%;
    display: block;
}

.video-cards-section .card .card-img-top {
    transition: 0.3s ease-out;
}

.video-cards-section .card:hover .card-img-top {
    opacity: 0.3;
}


.video-cards-section .work-row {
    transition: all ease-in-out 0.3s;
}

.video-cards-section .work-row:active {
    transition: all ease-in-out 0.6s;
}

.video-cards-section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;

}

.video-cards-section ul .nav-item .nav-link {
    color: var(--hash-col);
    font-size: 20px;
    position: relative;
    transition: .3s ease;
}

.video-cards-section ul .nav-item .nav-link.active {
    background-color: var(--black-col);
    /* border-bottom: 1px solid var(--white-col); */
    border-radius: 0;
    color: var(--white-col);
    font-size: 20px;
}

.video-cards-section ul .nav-item .nav-link:after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: 0;

    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}


.video-cards-section ul .nav-item .nav-link.active:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;


}



.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    padding: 15px;
    text-align: center;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}


.play-button {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease-out 0.4s;
    max-width: 100px;
}

.video-cards-section .card:hover .overlay .play-button {
    opacity: 1;
    transform: translateY(0);
}


.video-cards-section .col {
    padding: 0;
}

.video-cards-section .button-box {
    margin-top: 45px;
}





/* VIDEO SECTION */

.video-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-reveal {
    line-height: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--black-col);
}

.grow {
    scale: 0;
    width: 100%;
}

/* WHYCHOOSE */



.whychoose{
    background-color: #000000;
}

.whychoose .whychoose-box{
    background-color: #101010;
    border-radius: 10px;
    padding: 28px;
}

.whychoose .whychoose-box h2{
    font-size: 40px;
    color: #bababa;
    font-family: 'apple-font';
    font-weight: 600;
}

.whychoose .whychoose-box p{
    font-size: 30px;
    color: #bababa;
    font-family: 'apple-font';
    font-weight: 100;
}




/* .whychoose {
    background-color: var(--black-col);
    padding: 100px 0 0 0;
}

.whychoose h2:first-child {
    color: var(--white-col);
    text-transform: uppercase;
    font-family: 'apple-font';
}

.whychoose h2:last-child {
    font-size: 25px;
    color: var(--hash-col);
    font-family: 'apple-font';
}

.whychoose .whychoose-card h4 {
    color: var(--white-col);
}

.whychoose .whychoose-card p {
    color: var(--hash-col);
} */

/* TESTIMONIAL */

.testimonial {
    background-color: var(--black-col);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-box h2 {
    font-family: 'apple-font';
    color: #86868b;
    font-family: 'apple-font-bold';
    font-size: 54px;

    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.testimonial-card-box {
    margin: 0 30px;
}

.testimonial-card-box .card {
    border: 1px solid var(--white-col);
    background-color: var(--black-col);
    padding: 40px;

    position: relative;
}

.testimonial-card-box .content {
    color: #a2a2a2;
}

.testimonial-card-box h5 {
    color: var(--white-col);
    font-family: 'apple-font';
}

.testimonial-card-box .designation {
    color: var(--white-col);
}

.testimonial-card-box .card .blur-shape {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 560px;
    transform: translate(-50%, -50%);
}

.testimonial-card-box .blur-shape {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.testimonial-card-box:hover .blur-shape {
    opacity: 1;
}

.testimonial-carousel .owl-nav {
    display: flex;
    justify-content: center;
    padding: 35px 0 35px 0;
}

.testimonial-carousel .owl-nav .test-prev {
    padding: 5px 10px;
    background-color: var(--white-col);
    color: var(--black-col);
    border: 1px solid var(--white-col);
    border-radius: 5px;
    margin: 0 5px;
    font-size: 18px;
}

.testimonial-carousel .owl-nav .test-prev:hover {
    padding: 5px 10px;
    background-color: var(--black-col);
    color: var(--white-col);
    border: 1px solid var(--white-col);
    border-radius: 5px;
    margin: 0 5px;
}

.testimonial-carousel .owl-nav .test-next {
    padding: 5px 10px;
    background-color: var(--white-col);
    color: var(--black-col);
    border: 1px solid var(--white-col);
    border-radius: 5px;
    margin: 0 5px;
    font-size: 18px;
}

.testimonial-carousel .owl-nav .test-next:hover {
    padding: 5px 10px;
    background-color: var(--black-col);
    color: var(--white-col);
    border: 1px solid var(--white-col);
    border-radius: 5px;
    margin: 0 5px;
}




/* Client */

.client-section {
    background-color: var(--black-col);
    padding: 20px 0 25px 0;
}

.client-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-carousel .item img {
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: luminosity;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;

    border-radius: 10px;
}


.client-carousel .item img:hover {
    filter: grayscale(0%);
    opacity: 1;
    margin-top: -4px;
    border-radius: 10px;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.00), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}


/* CONTACT */

.contact-section {
    background-color: var(--black-col);
    /* padding: 0 500px 0  500px; */

}


.contact-section .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contact-section .form__input-group {
    margin: 10px 0;
    width: 100%;
    position: relative;
    display: flex;
}

.contact-section .form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--white-col);
    border-radius: 5px;
    transition: border 0.25s ease-in-out;
    background-color: var(--black-col)
}

.contact-section .form__input:focus {
    outline: none;
    border: 2px solid var(--white-col);

}

.contact-section .form__input-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.25s ease-in-out;
    color: #7b7b7b;
}

.contact-section .form__input:focus~.form__input-label {
    top: 0;
    background-color: var(--black-col);
    font-size: 14px;
    padding: 0 10px;
    color: var(--white-col);
    font-size: 16px;
}

.contact-section button {
    background-color: var(--white-col);
    color: var(--black-col);
    border: 1px solid var(--white-col);
    border-radius: 10px;
    padding: 8px 26px;
}

.contact-section button:hover {
    background-color: var(--black-col);
    color: var(--white-col);
    border: 1px solid var(--white-col);
    border-radius: 10px;
}

.contact-section .main-box {
    position: relative;
}

.contact-section .main-box .left-box {
    padding: 55px 25px 0 25px;
    /* border: 2px solid #545454; */
    width: 80%;
    margin: auto;
}

.contact-section .contact-box {
    padding: 24px 60px;
    background-color: #ffffff;
    position: absolute;
    z-index: 11;
    right: 0;
    top: -35px;
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contact-section .contact-box a {
    text-decoration: none;
    color: var(--black-col);
}

/* FOOTER */

footer {
    background-color: var(--black-col);
    padding: 100px 10px 30px 10px;
}

footer .row {
    background-color: #111;
    padding: 20px;
}

footer .footer-about {
    color: #b2b2b2;
}

footer .footer-head {
    padding: 0 0 12px 0;
    font-weight: 700;
    color: var(--white-col);
    font-family: 'apple-font';
}

footer ul {
    list-style: none;
    padding: 0;
}


footer ul li a {
    text-decoration: none;
    color: #bcbcbc;
}

footer .social-col {
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    padding: 10px;
}


footer .social-col img {
    max-width: 25px;
    margin: 0 10px 0 0;
}

footer .social-col ul li a {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0 10px 0;
}

footer .social-col p {
    padding: 0;
    margin: 0;
}

footer .copyright {
    background-color: var(--black-col);
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    padding: 15px;
}

footer .copyright p {
    color: var(--white-col);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 200;
    font-size: 14px;

}




/* ABOUT PAGE */


.about-page {
    background-color: var(--black-col);
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.about-page video {
    object-fit: cover;
    /* width: 100vw; */
    overflow: hidden;
    height: 80vh;
    border-radius: 25px;
}

.about-page .content {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.about-page .content h1 {
    font-size: 70px;
    color: var(--white-col);
    font-family: 'apple-font';
}

.about-page .content h1 span {
    color: yellow;
    display: inline;
    font-family: 'apple-font';
}

.about-us {
    background-color: var(--black-col);
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us .mandala {
    position: absolute;
    top: 50%;
    right: -32%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}


.about-us .content {
    width: 50%;
    margin: auto;
}

.about-us P {
    color: #e7e7e7;
}

.about-page .video-box {
    display: inline-block;
}


/* PROJECT PAGE */

.project-page {
    background-image: url('../images/projects/banner.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.project-page .project-banner {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-page .project-banner .video {
    object-fit: cover;
    /* width: 100vw; */
    overflow: hidden;
    height: 50vh;
    border-radius: 25px;
}

/* .project-page .project-banner .video-box{
    border-right: 1px solid var(--white-col);
    border-bottom: 1px solid var(--white-col);
    border-radius: 0 0 25px 0;
    padding: 20px;
} */

.project-page .project-banner h1 {
    position: absolute;
    color: #fff;
    font-size: 70px;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'apple-font';
}

.project-page .project-banner h1 span {
    color: yellow;
    font-family: 'apple-font';
}


/* Contact Page */

.contact-page {
    height: 85vh;
    background-color: var(--black-col);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page h1 {
    font-family: 'apple-font';
    color: var(--white-col);
    font-size: 60px;
}